classes/GovernmentForms/country/ca/schema/rc364.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Submission" type="ReturnType" />
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="T619" type="TransmitterType" />
			<xsd:element name="FormVersion" type="FormVersionType" />
			<xsd:element name="RC364" type="RC364Type" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransmitterType">
		<xsd:all>
			<xsd:element name="sbmt_ref_id" type="char8Type" />
			<xsd:element name="rpt_tcd" type="otherDataType" />
			<xsd:element name="trnmtr_nbr" type="transNbrType" />
			<xsd:element name="trnmtr_tcd" type="indicator1-6Type" />
			<xsd:element name="summ_cnt" type="int6Type" />
			<xsd:element name="lang_cd" type="languageType" />
			<xsd:element name="TRNMTR_NM" type="Line2Type" />
			<xsd:element name="TRNMTR_ADDR" type="CanadaAddressType" />
			<xsd:element name="CNTC" type="ContactType" />
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="RC364Type">
		<xsd:sequence>
			<!--Section 1 - Plan identification -->
			<xsd:element name="PlanIdentification" type="PlanIdentificationType" />
			<!--Section 2 - Plan administration -->
			<xsd:element name="PlanAdministration" type="PlanAdministrationType" />
			<!--Section 3 - Funding information -->
			<xsd:element name="FundingInformation" type="FundingInformationType" />
			<!--Section 4 - Information concerning intended plan provisions -->
			<xsd:element name="PlanProvisionInformation" type="PlanProvisionInformationType" minOccurs="0" /> 
			<!--Section 5 - Declaration of compliance -->
			<xsd:element name="DeclarationOfCompliance" type="DeclarationOfComplianceType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="FormVersionType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="12" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PlanIdentificationType">
		<xsd:sequence>
			<xsd:element name="EffectiveRegistrationDate" type="DateType" />
			<xsd:element name="PlanName" type="String80RestrictedType" />
			<xsd:element name="PlanYearEnd" type="DateType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanAdministrationType">
		<xsd:sequence>
			<xsd:element name="LicenseDate" type="DateType" minOccurs="0" />
			<xsd:element name="PlanAdministratorKind" type="PlanAdministratorKindType" />
			<xsd:element name="PlanAdministrator" type="PlanAdministratorType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FundingInformationType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="InsuranceCompany" type="InsuranceCompanyType" />
				<xsd:element name="TrustCompany" type="TrustCompanyType" minOccurs="0" />
				<xsd:element name="OtherCompany" type="OtherCompanyType" minOccurs="0" />
			</xsd:sequence>
			<xsd:sequence>
				<xsd:element name="TrustCompany" type="TrustCompanyType" />
				<xsd:element name="OtherCompany" type="OtherCompanyType" minOccurs="0" />
			</xsd:sequence>
			<xsd:element name="OtherCompany" type="OtherCompanyType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PlanProvisionInformationType">
		<xsd:sequence>
			<xsd:element name="PermitInvestment" type="PermitInvestmentType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeclarationOfComplianceType">
		<xsd:sequence>
			<xsd:element name="SigningOfficerName" type="String60RestrictedType" />
			<xsd:element name="SigningOfficerPosition" type="String40RestrictedType" />
			<xsd:element name="SigningOfficerPhone" type="String17RestrictedType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanAdministratorKindType">
		<xsd:choice>
			<xsd:element name="DepositTakingInstitution" type="CheckBoxType" />
			<xsd:element name="InsuranceCompany" type="CheckBoxType" />
			<xsd:element name="Other" type="String80RestrictedType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PlanAdministratorType">
		<xsd:complexContent>
			<xsd:extension base="CompanyDetailsType">
				<xsd:sequence>
					<xsd:element name="AuthorizedOfficer" type="String60RestrictedType" />
					<xsd:element name="Email" type="String40Type" minOccurs="0" />
					<xsd:element name="LanguageOfCorrespondence" type="CorrespondenceLanguageType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InsuranceCompanyType">
		<xsd:sequence>
			<xsd:element name="PolicyNumber" type="String25RestrictedType" minOccurs="0" />
			<xsd:element name="CompanyDetails" type="CompanyType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrustCompanyType">
		<xsd:sequence>
			<xsd:element name="CompanyDetails" type="CompanyType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherCompanyType">
		<xsd:sequence>
			<xsd:element name="OtherSpecify" type="String80RestrictedType" />
			<xsd:element name="CompanyDetails" type="CompanyType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PermitInvestmentType">
		<xsd:choice>
			<xsd:element name="Yes" type="InvestmentOptionType" minOccurs="0" />
			<xsd:element name="No" type="CheckBoxType" minOccurs="0" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CompanyType">
		<xsd:complexContent>
			<xsd:extension base="CompanyDetailsType">
				<xsd:sequence>
					<xsd:element name="ContactPerson" type="String60RestrictedType" />
					<xsd:element name="Email" type="String40Type" minOccurs="0" />
					<xsd:element name="LanguageOfCorrespondence" type="CorrespondenceLanguageType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InvestmentOptionType">
		<xsd:sequence>
			<xsd:element name="DefaultOption" type="InvestmentOptionDetailType" minOccurs="0" />
			<xsd:element name="NonDefaultOption" type="InvestmentOptionDetailType" minOccurs="0" maxOccurs="5" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompanyDetailsType">
		<xsd:sequence>
			<xsd:element name="Name" type="String60RestrictedType" />
			<xsd:element name="Address1" type="String30RestrictedType" />
			<xsd:element name="Address2" type="String30RestrictedType" minOccurs="0"/>
			<xsd:element name="City" type="String30RestrictedType" />
			<xsd:element name="Province" type="provinceType" />
			<xsd:element name="PostalCode" type="String10RestrictedType" />
			<xsd:element name="Phone" type="String17RestrictedType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InvestmentOptionDetailType">
		<xsd:sequence>
			<xsd:element name="FundType" type="String240RestrictedType" minOccurs="0" />
			<xsd:element name="ProposedFundManager" type="String60RestrictedType" minOccurs="0" />
			<xsd:element name="ProposedCost" type="NonNegativeAmountType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CorrespondenceLanguageType">
		<xsd:choice>
			<xsd:element name="English" type="CheckBoxType" />
			<xsd:element name="French" type="CheckBoxType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="NonNegativeAmountType">
		<xsd:restriction base="xsd:decimal">
			<xsd:minInclusive value="0" />
			<xsd:maxInclusive value="99999999999.99" />
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DateType">
		<xsd:restriction base="xsd:date">
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CheckBoxType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="0" />
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String40Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringRestrictedType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="preserve" />
			<xsd:pattern value="[\p{L}\p{N}\-. '\(\)]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String10RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String17RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="17" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String25RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="25" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String30RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String40RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String60RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String80RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="80" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String240RestrictedType">
		<xsd:restriction base="StringRestrictedType">
			<xsd:maxLength value="240" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringAlphaRestrictedType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1" />
			<xsd:whiteSpace value="preserve" />
			<xsd:pattern value="\p{L}[\p{L}\-' ]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String20AlphaRestrictedType">
		<xsd:restriction base="StringAlphaRestrictedType">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Infodec defined types below this point -->
	<xsd:simpleType name="char8Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="otherDataType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="A"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="a"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="o"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="transNbrType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(MM|mm)\d{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="indicator1-6Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[1-6]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="int6Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="languageType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="F"/>
			<xsd:enumeration value="e"/>
			<xsd:enumeration value="f"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Line2Type">
		<xsd:all>
			<xsd:element name="l1_nm" type="char30Type"/>
			<xsd:element name="l2_nm" type="char30Type" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="CanadaAddressType">
		<xsd:all>
			<xsd:element name="addr_l1_txt" type="char30Type" minOccurs="0"/>
			<xsd:element name="addr_l2_txt" type="char30Type" minOccurs="0"/>
			<xsd:element name="cty_nm" type="char28Type" minOccurs="0"/>
			<xsd:element name="prov_cd" type="provinceStateType" minOccurs="0"/>
			<xsd:element name="cntry_cd" type="countryType" minOccurs="0"/>
			<xsd:element name="pstl_cd" type="pcType" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="ContactType">
		<xsd:all>
			<xsd:element name="cntc_nm" type="char22Type"/>
			<xsd:element name="cntc_area_cd" type="numeric3Type"/>
			<xsd:element name="cntc_phn_nbr" type="phoneType"/>
			<xsd:element name="cntc_extn_nbr" type="int7Type" minOccurs="0"/>
			<xsd:element name="cntc_email_area" type="char60Type" minOccurs="0"/>
			<xsd:element name="sec_cntc_email_area" type="char60Type" minOccurs="0"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:simpleType name="char30Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="char28Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="28"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="provinceType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ON"/>
			<xsd:enumeration value="on"/>
			<xsd:enumeration value="On"/>
			<xsd:enumeration value="NS"/>
			<xsd:enumeration value="ns"/>
			<xsd:enumeration value="Ns"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="pe"/>
			<xsd:enumeration value="Pe"/>
			<xsd:enumeration value="NB"/>
			<xsd:enumeration value="nb"/>
			<xsd:enumeration value="Nb"/>
			<xsd:enumeration value="QC"/>
			<xsd:enumeration value="qc"/>
			<xsd:enumeration value="Qc"/>
			<xsd:enumeration value="MB"/>
			<xsd:enumeration value="mb"/>
			<xsd:enumeration value="Mb"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="ma"/>
			<xsd:enumeration value="Ma"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="sk"/>
			<xsd:enumeration value="Sk"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="sa"/>
			<xsd:enumeration value="Sa"/>
			<xsd:enumeration value="AB"/>
			<xsd:enumeration value="ab"/>
			<xsd:enumeration value="Ab"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="al"/>
			<xsd:enumeration value="Al"/>
			<xsd:enumeration value="BC"/>
			<xsd:enumeration value="bc"/>
			<xsd:enumeration value="Bc"/>
			<xsd:enumeration value="NT"/>
			<xsd:enumeration value="nt"/>
			<xsd:enumeration value="Nt"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="yt"/>
			<xsd:enumeration value="Yt"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="nl"/>
			<xsd:enumeration value="Nl"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="nf"/>
			<xsd:enumeration value="Nf"/>
			<xsd:enumeration value="LB"/>
			<xsd:enumeration value="lb"/>
			<xsd:enumeration value="Lb"/>
			<xsd:enumeration value="PQ"/>
			<xsd:enumeration value="pq"/>
			<xsd:enumeration value="Pq"/>
			<xsd:enumeration value="QU"/>
			<xsd:enumeration value="qu"/>
			<xsd:enumeration value="Qu"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="nu"/>
			<xsd:enumeration value="Nu"/>
			<xsd:enumeration value="NN"/>
			<xsd:enumeration value="nn"/>
			<xsd:enumeration value="Nn"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="us"/>
			<xsd:enumeration value="Us"/>
			<xsd:enumeration value="ZZ"/>
			<xsd:enumeration value="zz"/>
			<xsd:enumeration value="Zz"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="provinceStateType">
		<xsd:union memberTypes="provinceType stateType"/>
	</xsd:simpleType>
	<xsd:simpleType name="stateType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="al"/>
			<xsd:enumeration value="NV"/>
			<xsd:enumeration value="nv"/>
			<xsd:enumeration value="AK"/>
			<xsd:enumeration value="ak"/>
			<xsd:enumeration value="NH"/>
			<xsd:enumeration value="nh"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="az"/>
			<xsd:enumeration value="NJ"/>
			<xsd:enumeration value="nj"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="ar"/>
			<xsd:enumeration value="NM"/>
			<xsd:enumeration value="nm"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="ca"/>
			<xsd:enumeration value="NY"/>
			<xsd:enumeration value="ny"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="co"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="nc"/>
			<xsd:enumeration value="CT"/>
			<xsd:enumeration value="ct"/>
			<xsd:enumeration value="ND"/>
			<xsd:enumeration value="nd"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="de"/>
			<xsd:enumeration value="OH"/>
			<xsd:enumeration value="oh"/>
			<xsd:enumeration value="DC"/>
			<xsd:enumeration value="dc"/>
			<xsd:enumeration value="OK"/>
			<xsd:enumeration value="ok"/>
			<xsd:enumeration value="FL"/>
			<xsd:enumeration value="fl"/>
			<xsd:enumeration value="OR"/>
			<xsd:enumeration value="or"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="ga"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="pa"/>
			<xsd:enumeration value="HI"/>
			<xsd:enumeration value="hi"/>
			<xsd:enumeration value="RI"/>
			<xsd:enumeration value="ri"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="id"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="sc"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="il"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="sd"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="in"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="tn"/>
			<xsd:enumeration value="IA"/>
			<xsd:enumeration value="ia"/>
			<xsd:enumeration value="TX"/>
			<xsd:enumeration value="tx"/>
			<xsd:enumeration value="KS"/>
			<xsd:enumeration value="ks"/>
			<xsd:enumeration value="UT"/>
			<xsd:enumeration value="ut"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="ky"/>
			<xsd:enumeration value="VT"/>
			<xsd:enumeration value="vt"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="la"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="va"/>
			<xsd:enumeration value="ME"/>
			<xsd:enumeration value="me"/>
			<xsd:enumeration value="WA"/>
			<xsd:enumeration value="wa"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="md"/>
			<xsd:enumeration value="WV"/>
			<xsd:enumeration value="wv"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="ma"/>
			<xsd:enumeration value="WI"/>
			<xsd:enumeration value="wi"/>
			<xsd:enumeration value="MI"/>
			<xsd:enumeration value="mi"/>
			<xsd:enumeration value="WY"/>
			<xsd:enumeration value="wy"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="mn"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="ms"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="mo"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="mt"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="ne"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="pr"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="as"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="fm"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="gu"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="mh"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="mp"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="pw"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="vi"/>
			<xsd:enumeration value="ZZ"/>
			<xsd:enumeration value="zz"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="countryType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\p{L}{3}|\p{N}{3}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="pcType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="char22Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="numeric3Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="phoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="int7Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{1,7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="char60Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="60"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>